@model OAuth2Demo.Web.ViewModels.Google.GoogleIndexViewModel

@{
    ViewBag.Title = "Google";
    Layout = "_Layout";
}

<h2>Login with Google</h2>

<button><a href="@Model.GoogleOAuthUrl">Login with Google</a></button>