@model OAuth2Demo.Web.ViewModels.Github.GithubIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Github Access</h2>

<button><a href="@Model.GithubOAuthUrl">Authorize with Github</a></button>