@model OAuth2Demo.Web.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "OAuth2 Demo";
}

<h3>Login with Google</h3>
<a href="@Model.GoogleLoginUrl"><button type="button" class="btn btn-secondary">Login with Google</button></a>

<h3>Connect to Github</h3>
<a href="@Model.GithubOAuthUrl"><button type="button" class="btn btn-secondary">Connect to Github</button></a>